* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  color: black;
}

#body {
  height: 100vh;
}

#retangle {
  background-color: red;
  margin-bottom: 5px;
  flex: 1;
  margin-right: 10px;
  height: 300px;
}

.btn {
  position: fixed;
  top: 0;
  right: 0;
}

.layoutEffect {
  top: 30px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
}
